---
import service1 from "@/assets/images/services/service1.webp";
import service2 from "@/assets/images/services/service2.webp";
import service3 from "@/assets/images/services/service3.webp";
import service4 from "@/assets/images/services/service4.webp";
import bulbg from "@/assets/images/background/bg-blur-spheres.png";
import { ModalService } from "./content/ModalService";

interface ServiceContentProps {
  title: string;
  description: string;
  image: string;
  content: string;
}

interface TypesOfServices {
  service1: ServiceContentProps; 
  service2: ServiceContentProps; 
  service3: ServiceContentProps; 
  service4: ServiceContentProps; 
}

const services : TypesOfServices = {
  service1: {
    title: "Transporte de Carga General",
    description: "Movilizamos mercancías de diferentes tipos y tamaños a lo largo del territorio nacional.",
    image: service1.src,
    content:"Nuestro servicio de transporte de carga general está diseñado para ofrecer a particulares y empresas la tranquilidad de que su mercancía llegará a destino en el tiempo acordado y en perfectas condiciones. Contamos con personal capacitado para el manejo y la estiba de la carga, así como rutas optimizadas para reducir costos y tiempos de entrega."
  },
  service2: {
    title: "Servicio de Paquetería Express",
    description: "Envíos rápidos y seguros para paquetes pequeños y medianos.",
    image:service2.src,
    content:"Pensado para clientes que necesitan soluciones inmediatas, este servicio garantiza la recolección y entrega de paquetes en el menor tiempo posible. Ideal para envíos urgentes, documentos, repuestos o productos que requieren llegar con rapidez y sin complicaciones."
  },
  service3: {
    title: "Transporte para Negocios Locales",
    description: "Soluciones de transporte adaptadas a pequeñas y medianas empresas.",
    image:service3.src,
    content:"Apoyamos a emprendedores y negocios en el traslado de sus productos desde sus puntos de venta o almacenes hasta sus clientes o sucursales. Ofrecemos opciones de transporte programado, tarifas preferenciales y seguimiento constante para asegurar la continuidad de sus operaciones."
  },
  service4: {
    title: "Transporte de Eventos y Montajes",
    description: "Traslado seguro de mobiliario, equipos y materiales para eventos.",
    image:service4.src,
    content:"Ofrecemos transporte especializado para ferias, exposiciones, conciertos y cualquier tipo de evento. Nos encargamos de movilizar mesas, sillas, tarimas, equipos de sonido, iluminación y más, asegurando que todo llegue a tiempo y en perfecto estado para el montaje."
  }
}
---
<section class="mt-0 w-full flex-col justify-center px-3 md:flex md:flex-row-reverse md:gap-4 md:my-12" id="services">
  <div class="relative mt-4">
    <h2
      class="font-heading font-extrabold text-5xl text-center break-normal opacity-8 md:text-left md:text-6xl"
    >
      Servicios que ofrecemos
    </h2>
    <h4
      class="font-heading font-bold text-4xl text-center absolute inset-x-0 bottom-0 md:text-left md:text-5xl md:absolute md:left-16 md:bottom-0"
    >
      Servicios que ofrecemos 
    </h4>
  </div>
</section>


<section class="mb-0">
    <img src={bulbg.src} alt="" class="w-full h-full absolute right-0 z-0">
    <img src={bulbg.src} alt="" class="w-full h-full absolute left rotate-180 z-0">
    <div class="grid grid-cols-5 grid-rows-4 md:grid-rows-6 gap-4 m-4 p-6 max-w-7xl mx-auto">

      <!-- Image 1 -->
      <div class="group relative col-span-5 row-span-1 row-start-1 md:col-span-2 md:row-span-3 h-96 md:h-96 rounded-xl shadow-xl overflow-hidden cursor-pointer">

        <!-- Image wrapper -->
        <div class="relative w-full h-full z-0 transition-all duration-200 group-hover:brightness-50">
          <img
            src={service1.src}
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-center transition-all duration-200"
          />
        </div>

        <!-- Overlay -->
        <div class="absolute inset-0 z-0 bg-black/20 group-hover:bg-black/40 transition-all duration-200 pointer-events-none"></div>

        <!-- Heading (on top) -->
        <div class="absolute inset-0 flex items-center justify-center z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out font-heading font-bold text-white drop-shadow-lg text-5xl p-4 text-center">
          <ModalService 
            title={services.service1.title}
            description={services.service1.description}
            image={services.service1.image}
            content={services.service1.content}
            client:idle
          />
        </div>
                
      </div>

      <!-- Image 2 -->
      <div class="group relative col-span-5 row-span-1 row-start-2 md:col-span-2 md:row-span-3 md:col-start-4 md:row-start-4 h-96 md:h-96 rounded-xl shadow-xl overflow-hidden cursor-pointer">

        <!-- Image wrapper -->
        <div class="relative w-full h-full z-0 transition-all duration-200 group-hover:brightness-50">
          <img
            src={service2.src}
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-bottom-left transition-all duration-200"
          />
        </div>

        <!-- Overlay -->
        <div class="absolute inset-0 z-0 bg-black/20 group-hover:bg-black/40 transition-all duration-200 pointer-events-none"></div>

          <!-- Heading (on top) -->
          <div class="absolute inset-0 flex items-center justify-center z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out font-heading font-bold text-white drop-shadow-lg text-5xl p-4 text-center">
            <ModalService 
              title={services.service2.title}
              description={services.service2.description}
              image={services.service2.image}
              content={services.service2.content}
              client:idle
            />
          </div>
      </div>
      
      <!-- Image 3 -->
      <div class="group relative col-span-5 row-span-1 row-start-3 md:col-span-3 md:row-span-3 md:col-start-3 md:row-start-1 h-96 md:h-96 rounded-xl shadow-xl overflow-hidden cursor-pointer">
        <!-- Image wrapper -->
        <div class="relative w-full h-full z-0 transition-all duration-200 group-hover:brightness-50">
          <img
            src={service3.src}
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-center transition-all duration-200"
          />
        </div>

        <!-- Overlay -->
        <div class="absolute inset-0 z-0 bg-black/20 group-hover:bg-black/40 transition-all duration-200 pointer-events-none"></div>

        <!-- Heading (on top) -->
        <div class="absolute inset-0 flex items-center justify-center z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out font-heading font-bold text-white drop-shadow-lg text-5xl p-4 text-center">
          <ModalService 
            title={services.service3.title}
            description={services.service3.description}
            image={services.service3.image}
            content={services.service3.content}
            client:idle
          />
        </div>
      </div>
      
      <!-- Image 4 -->
      <div class="group relative col-span-5 row-span-1 row-start-4 md:col-span-3 md:row-span-3 md:col-start-1 md:row-start-4 h-96 md:h-96 rounded-xl shadow-xl overflow-hidden cursor-pointer">
        <!-- Image wrapper -->
        <div class="relative w-full h-full z-0 transition-all duration-200 group-hover:brightness-50">
          <img
            src={service4.src}
            alt=""
            class="absolute inset-0 w-full h-full object-cover object-center transition-all duration-200"
          />
        </div>

        <!-- Overlay -->
        <div class="absolute inset-0 z-0 bg-black/20 group-hover:bg-black/40 transition-all duration-200 pointer-events-none"></div>

        <!-- Heading (on top) -->
        <div class="absolute inset-0 flex items-center justify-center z-10 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-in-out font-heading font-bold text-white drop-shadow-lg text-5xl p-4 text-center">
          <ModalService 
            title={services.service4.title}
            description={services.service4.description}
            image={services.service4.image}
            content={services.service4.content}
            client:idle
          />
        </div>
      </div>  

    </div>
  </section>
